@using Arwend;
@using Arwend.Web.View.Mvc.Html;
@using Dalowe.View.Web.Framework.Helpers;
@model Dalowe.View.Web.Framework.Models.Visa.UserModel
@{
    string cdnUrl = ConfigurationManager.CdnUrl;
    string version = ConfigurationManager.ApplicationVersion;
}
@section styles
{
    <link type="text/css" rel="stylesheet" href="@(cdnUrl)vendors/jquery-file-upload/css/jquery.fileupload-ui.css?@version" />
    <link type="text/css" rel="stylesheet" href="@(cdnUrl)vendors/jquery-file-upload/css/jquery.fileupload.css?@version" />
}
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet">
                <div class="portlet-header">
                    <div class="caption">@(Model.IsNew ? "Yeni kullanıcı oluştur" : Model.Name)</div>
                </div>
                <div class="portlet-body col-md-12">
                    @using (Html.BeginForm("SaveUser", "Visa", null, FormMethod.Post, new { @class = "form-horizontal", @id = "page-detail-form", enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="form-body pal">
                            @Html.ValidationSummary(true)
                            <div class="col-md-9 col-xs-12">
                                @Html.StatusFor(model => model.StatusID)
                                @Html.TextFieldFor(model => model.Name)
                                @Html.PasswordFieldFor(model => model.Password)
                                @Html.TextFieldFor(model => model.Email)
                                @Html.HiddenFor(model => model.RowGuid)
                                @Html.HiddenFor(model => model.ID)
                                @Html.ActionButtonsFor()
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="@(cdnUrl)vendors/jquery-validation/dist/jquery.validate.js?@version"></script>
    <script src="@(cdnUrl)js/jquery.validate.unobtrusive.js?@version"></script>
    <script src="@(cdnUrl)vendors/moment/moment.js?@version"></script>
    <script src="@(cdnUrl)vendors/bootstrap-daterangepicker/daterangepicker.js?@version"></script>
}