@using Dalowe.Domain.Visa
@using Dalowe.View.Web.Framework.Helpers
<nav id="sidebar" role="navigation" class="navbar-default navbar-static-side">
    <div class="sidebar-collapse menu-scroll">
        <ul id="side-menu" class="nav">
            <li class="clock">
                <strong id="get-date" class="get-date"></strong>
                <div class="digital-clock">
                    <div id="getHours" class="get-time"></div>
                    <span>:</span>
                    <div id="getMinutes" class="get-time"></div>
                    <span>:</span>
                    <div id="getSeconds" class="get-time"></div>
                </div>
            </li>
            <li class="sidebar-heading">
                <h4>Ana Menü</h4>
            </li>
            <li>
                <a href="#">
                    <i class="fa fa-users fa-fw"></i><span class="menu-title">Müşteriler</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("CustomerList", "Content")">Tüm Müşteriler</a>
                    </li>
                    <li>
                        <a href="@Url.Action("CustomerDetail", "Content")">Yeni Müşteri</a>
                    </li>
                </ul>
            </li>
            @if (Html.GetCurrentUser().Type != UserType.Accountant)
            {
                <li>
                    <a href="#">
                        <i class="fa fa-desktop fa-fw"></i><span class="menu-title">Ürünler</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("ProductList", "Content")">Tüm Ürünler</a>
                        </li>
                        @*@if (Html.GetCurrentUser().Type != UserType.Sales)
                        {
                            <li>
                                <a href="@Url.Action("ProductDetail", "Content")">Yeni Ürün</a>
                            </li>
                        }*@
                    </ul>
                </li>
            }
            @if (Html.GetCurrentUser().Type != UserType.Accountant)
            {
                <li>
                    <a href="#">
                        <i class="fa fa-map-marker fa-fw"></i><span class="menu-title">Yer Listeleri</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("ProductOfferList", "Content")">Tüm Yer Listeleri</a>
                        </li>
                        <li>
                            <a href="@Url.Action("ProductOfferDetail", "Content")">Yeni Yer Listesi</a>
                        </li>
                    </ul>
                </li>
            }
            @if (Html.GetCurrentUser().Type != UserType.Accountant)
            {
                <li>
                    <a href="#">
                        <i class="fa fa-tasks fa-fw"></i><span class="menu-title">Teklifler</span><span class="fa arrow"></span>
                    </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="@Url.Action("OfferList", "Content")">Tüm Teklifler</a>
                        </li>
                        @*<li>
                            <a href="@Url.Action("OfferDetail", "Content")">Yeni Teklif</a>
                        </li>*@
                    </ul>
                </li>
            }
            <li>
                <a href="#">
                    <i class="fa fa-edit fa-fw"></i><span class="menu-title">Sözleşmeler</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("ContractList", "Content")">Tüm Sözleşmeler</a>
                    </li>
                    @*<li>
                        <a href="@Url.Action("ContractDetail", "Content")">Yeni Sözleşme</a>
                    </li>*@
                </ul>
            </li>

            <li>
                <a href="#">
                    <i class="fa fa-book fa-fw"></i><span class="menu-title">Ordinolar</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("OrdinoList", "Content")">Tüm Ordinolar</a>
                    </li>
                </ul>
            </li>
            @*<li>
        <a href="#"><i class="fa fa-list fa-fw"></i><span class="menu-title">İçerik Yönetimi</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level">
            <li><a href="@Url.Action("MenuList", "Content")">Menüler</a></li>
            <li><a href="@Url.Action("ShowcaseList", "Content")">Manşetler</a></li>
            <li><a href="@Url.Action("BannerList", "Content")">Banner Alanları</a></li>
                <li><a href="@Url.Action("AnnouncementList", "Content")">Duyurular</a></li>
                <li><a href="@Url.Action("NewsList", "Content")">Haberler</a></li>
            <li><a href="@Url.Action("PageList", "Content")">Özel Sayfalar</a></li>
            <li><a href="@Url.Action("MetaTagList", "Content")">Sayfa Etiketleri</a></li>
            <li><a href="@Url.Action("RedirectionRuleList", "Content")">Sayfa Yönlendirme Kuralları</a></li>
                    </ul>
                </li>*@
            @if (true)
            {
            }
            <li>
                <a href="#">
                    <i class="fa fa-key fa-fw"></i><span class="menu-title">Kullanıcı & Yetki Yönetimi</span><span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level">
                    <li>
                        <a href="@Url.Action("UserList", "Visa")">Kullanıcılar</a>
                    </li>
                    @*<li><a href="#">Oturumlar</a></li>
                <li><a href="#">Roller</a></li>
                <li><a href="#">Yetkiler</a></li>*@
                </ul>
            </li>
            @*<li>
            <a href="#"><i class="fa fa-globe fa-fw"></i><span class="menu-title">Yerelleştirme</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="@Url.Action("LanguageList", "Localization")">Diller</a></li>
                <li><a href="@Url.Action("CultureList", "Localization")">Yerel Bölgeler</a></li>
            </ul>
        </li>*@
            @*<li>
            <a href="#"><i class="fa fa-cogs fa-fw"></i><span class="menu-title">Uygulama Tercihleri</span><span class="fa arrow"></span></a>
            <ul class="nav nav-second-level">
                <li><a href="@Url.Action("ClearCache", "Configuration")">Önbellek yönetimi</a></li>
                @*<li><a href="@Url.Action("ParameterList", "Configuration")">Parametreler</a></li>
                <li><a href="@Url.Action("ClientList", "Configuration")">İstemci/İstemci Grupları</a></li>
                <li><a href="@Url.Action("MessageList", "Configuration")">Uyarı Metinleri</a></li>
                <li><a href="@Url.Action("PolicyList", "Configuration")">İlkeler</a></li>
                <li><a href="@Url.Action("ResourceList", "Configuration")">Kaynaklar</a></li>
                <li><a href="@Url.Action("SettingList", "Configuration")">Ayarlar</a></li>
                <li><a href="@Url.Action("ContactMailList", "Configuration")">E-posta Bildirimleri</a></li>
                <li><a href="@Url.Action("MetricAccountList", "Configuration")">Arama Motoru Optimizasyonları</a></li>
                <li><a href="@Url.Action("SocialMediaAccountList", "Configuration")">Sosyal Medya Hesapları</a></li>
            </ul>
        </li>*@
            @*<li><a href="#"><i class="fa fa-cog fa-fw"></i><span class="menu-title">Gelişmiş Ayarlar</span><span class="label label-primary">Yakında!</span></a></li>*@
            <li>
                <a href="#">
                    <i class="fa fa-bar-chart-o fa-fw"></i><span class="menu-title">Raporlar</span>
                </a>
                <ul class="nav nav-second-level">
                    @if (Html.GetCurrentUser().Type == UserType.Admin)
                    {
                        <li>
                            <a href="@Url.Action("LastestLoginUsers", "Report")">En Son Giriş Yapanlar</a>
                        </li>
                    }
                    <li>
                        <a href="@Url.Action("LastestAvailableProducts", "Report")">Müsait Ürünler</a>
                    </li>
                </ul>
            </li>
            @*<li><a href="#"><i class="fa fa-life-ring fa-fw"></i><span class="menu-title">Uygulama Günlükleri</span></a></li>*@
        </ul>
    </div>
</nav>