@using Arwend;
@using Dalowe.View.Web.Framework.Helpers;
@model Arwend.Web.View.Mvc.Models.Generics.GenericListModel<Dalowe.View.Web.Framework.Models.Report.AvailableProductLogModel>
@{
    string cdnUrl = ConfigurationManager.CdnUrl;
    string version = ConfigurationManager.ApplicationVersion;
}
@section styles{
    <link type="text/css" rel="stylesheet" href="@(cdnUrl)vendors/datatables/css/jquery.dataTables.css?@version">
    <link type="text/css" rel="stylesheet" href="@(cdnUrl)vendors/datatables/css/dataTables.bootstrap.css?@version">
}
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            @if (Model?.Items != null && Model.Items.Any())
            {
                <div class="col-lg-12">
                    @Html.TableFor(m => Model.Items)
                </div>
            }
        </div>
    </div>
</div>

@section scripts
{
    <script src="@(cdnUrl)vendors/datatables/js/jquery.dataTables.js?@version"></script>
    <script src="@(cdnUrl)vendors/datatables/js/dataTables.bootstrap.js?@version"></script>
    <script src="@(cdnUrl)vendors/datatables/js/jquery.jeditable.js?@version"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var productsTable = $('#availableproductlog-list').dataTable({
                "aoColumnDefs": [{ "aTargets": [0], "bSearchable": false, "bVisible": false, "sWidth": "100px" }],
                "bAutoWidth": false,
                "iDisplayLength": 25
            });
            editingTables["Product"] = productsTable;
        });

    </script>
}
