@using Arwend;
@using Dalowe.View.Web.Framework.Helpers;
@model Arwend.Web.View.Mvc.Models.Generics.GenericListModel<Dalowe.View.Web.Framework.Models.Content.ProductModel>
@{
    string cdnUrl = ConfigurationManager.CdnUrl;
    string version = ConfigurationManager.ApplicationVersion;
}
@section styles{
    <link type="text/css" rel="stylesheet" href="@(cdnUrl)vendors/datatables/css/jquery.dataTables.css?@version">
    <link type="text/css" rel="stylesheet" href="@(cdnUrl)vendors/datatables/css/dataTables.bootstrap.css?@version">
    <style>
        tr.selected {
            background-color: rgba(0, 255, 0, 0.33) !important;
        }
        .table-striped > tbody > tr.selected:nth-child(odd) > td, .table-striped > tbody > tr.selected:nth-child(odd) > th {
            background-color: rgba(0, 255, 0, 0.33) !important;
        }
        .table-hover > tbody > tr.selected:hover > td, .table-hover > tbody > tr.selected:hover > th {
            background-color: rgba(0, 255, 0, 0.1) !important;
        }
    </style>
}
<div class="page-content">
    <div class="row">
        <div class="col-lg-12">
            @Html.TableFor(m => Model.Items)
            
            @if (Model.OfferId > 0)
            {
                <a id="add-subcategory" class="btn btn-primary btn-small col-md-12 col-xs-12" href="#" title="Ürün ekle" onclick="AddProductsToOffer('@Model.OfferId')"><span>Ürünleri Yer listesine ekle&nbsp;<i class="fa fa-plus"></i></span></a>
                <script>
                    var addProducts = true;
                </script>                                                                                                                                                                                                                                        
            }
        </div>
    </div>
</div>
@section scripts
{
    <script src="@(cdnUrl)vendors/datatables/js/jquery.dataTables.js?@version"></script>
    <script src="@(cdnUrl)vendors/datatables/js/dataTables.bootstrap.js?@version"></script>
    <script src="@(cdnUrl)vendors/datatables/js/jquery.jeditable.js?@version"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            var productsTable = $('#product-list').dataTable({
                "aoColumnDefs": [{ "aTargets": [3], "sWidth": "10%" }, { "aTargets": [4], "sWidth": "60px" }, { "aTargets": [12, 13], "bSearchable": false, "bSortable": false, "sWidth": "100px" }],
                "bAutoWidth": false,
                "iDisplayLength": 100
            });
            editingTables["Product"] = productsTable;
        });

        function AddProductsToOffer(id) {
            $.Arwend.Ajax.Parameters = {
                Action: "addproductstooffer",
                products: $("#product-list tr.selected").map(function () { return $(this).attr("data-id"); }).get().join(";"),
                offerid: id
            };
            $.Arwend.Ajax.GetResponse(function (response) {
                swal({
                        title: "Yer listesi bağlantısı hazır!",
                        text: "http://adminegemedya.site/Content/OfferProductList?offerId="+id,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Tamam",
                        closeOnConfirm: true,
                        html: true
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            window.location.href = "/";
                        }
                    });
            }, false, true);
        }

        if (typeof addProducts !== 'undefined' && addProducts) {
            $('table tbody').on( 'click', 'tr', function () {
                $(this).toggleClass('selected');
            } );
        }
        
    </script>
}